* {
  font-size: 14pt;
}
body {
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 200px;
  background-image: url(images/archive.jpg);
}

h1 {
  color: #ffee00;
  font: 40px Georgia;
  text-align: center;
}

.descript {
  width: 300px;
  color: #ffee00;
  font-style: italic;
  text-align: right;
  font-size: 22px;
  float: left;
}

.headerBtn {
  float: right;
  font-size: 10px;
}

main {
  width: 90%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
}
